.Rhistory

basic-landsat/01_Basic_datatypes_datahandling.R
basic-landsat/02_Descriptive_Stats_Plotting.R
basic-landsat/Exercise_1/
basic-landsat/Landsat/
basic-landsat/basic-landsat.md
basic-landsat/basic-landsat.zip
basic-landsat/basic-landsat_files/
basic-landsat/dtm.tif
basic-landsat/dtm.tif.aux.xml
basic-landsat/petal_sepal_label.png
basic-landsat/table_example.txt

random-forest-regression/random-forest-regression.md
random-forest-regression/data.zip
random-forest-regression/murnau*
random-forest-regression/s2_murnau_dhdn_4.tif*
random-forest-regression/random-forest-regression_files/

